
@{
    ViewData["Title"] = "RequireEmailConfirm";
}

<div class="alert alert-success text-center">

<h2 style="color: #0f5132">Your Account has been created successfully ! you need to confirm email !</h2>    

</div>

