@model IEnumerable<File_Sharing_App.Models.UploadViewModel>

@{
    ViewData["Title"] = "classes";
}
<h4>Search Results</h4>
<hr />
 @Html.Partial("BroweResultView")
@{
    int count = 0;
    foreach (var item in Model)
    {
        count++;
    }
}
     <div class="col-12 text-center">
    <div>
        @if(count > ViewBag.pagesize)
        {
        @if(ViewBag.CurrentPage-1>0)
        {
        <a href="/Uploads/Results?RequiredPage=@(ViewBag.CurrentPage-1)" class="btn btn-outline-primary align-left btn-lg">Prev</a>    
        }
        @if(ViewBag.CurrentPage + 1 <= ViewBag.pagecount)
        {
        <a href="/Uploads/Results?RequiredPage=@(ViewBag.CurrentPage+1)" class="btn btn-outline-primary align-right btn-lg">Next</a>    
        }
        }
    </div>
</div>
 <a asp-action="Index" asp-controller="Home" class="btn btn-warning">Back</a>

